body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  background-color: #cecece;
}

header {
  grid-column: span 12;
  background-color: #f1fd4f;
  padding: 1em;
}

nav {
  grid-column: span 2;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


nav li a {
  display: block;
  background-color: rgba(255, 0, 0, 0.826);
  border: 1px solid black;
  padding: 1em;
  color: white;
  text-decoration: none;
}

main {
  grid-column: span 7;
  border: solid black;
  border-width: 2px;
  padding: 1em;
  background-color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main img {
  float: left;
  padding-right: 1em;
}

aside {
  grid-column: span 3;
  background-color: #122489;
  color: whitesmoke;
  padding: 0 1em 1em 1em;
  
}

footer {
  grid-column: span 12;
  background-color: #7e0505;
  color: whitesmoke;
  padding: 1em;
  border: solid gray;
  border-width: 5px;
}

a:hover {
  background-color: #bc1010;
  color: whitesmoke;
}